.manage-view{

    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
fa-icon{
    margin-right: 10px;
    color: #2b69aa;
    font-size: 40px;
}
a{
    color: black;
    text-decoration: none;
}
.entity-item{
    width: 20.33%;
    display: inline-block;
    box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.entity-item:hover {
    background-color: #d9d9d9;
    cursor: pointer;
    box-shadow: none;
    color: rgb(255, 255, 255);
}
.entity-item:hover fa-icon {
    color: #ffffff;
}
