<!--botões para navegar entre a gestão de entidades-->
<div class="manage-view">
    <div class="content">
        <div class="entity-item" (click)="navigateToUser()">
                <fa-icon [icon]="icons.faBagShopping"></fa-icon> Unidades
        </div>
        <div class="entity-item" (click)="navigateToUser()">
                <fa-icon [icon]="icons.faBox"></fa-icon> Produtos
        </div>
        <div class="entity-item" (click)="navigateToUser()">
                <fa-icon [icon]="icons.faList"></fa-icon> Categorias
        </div>
        <div class="entity-item" (click)="navigateToUser()">
                <fa-icon [icon]="icons.faArrowsTurnToDots"></fa-icon> Movimentações
        </div>
        <div class="entity-item" (click)="navigateToUser()">
                <fa-icon [icon]="icons.faBoxesStacked"></fa-icon> Contêineres
        </div>
        <div class="entity-item" (click)="navigateToUser()">
                <fa-icon [icon]="icons.faUsers"></fa-icon> Usuários
        </div>
</div>



