<div class="scanner-container" [class.manual-mode]="manualControl">
    <div class="scanner-box" (click)="!manualControl && input.nativeElement.focus()">
        <fa-icon [icon]="icons.faBarcode"></fa-icon>
        <span *ngIf="!manualControl" class="scanner-text">Aguardando leitura do scanner...</span>
        <div *ngIf="manualControl" class="manual-input-container">
            <input #input type="text" placeholder="Digite o código de barras" (keyup.enter)="handleManualSearch()">
            <button class="search-button" (click)="handleManualSearch()">Buscar</button>
        </div>
    </div>
</div>

<div class="toggle-container">
    <button class="toggle-button" (click)="manualController()">
        <span *ngIf="!manualControl">Digitar código manualmente</span>
        <span *ngIf="manualControl">Usar leitor de scanner</span>
    </button>
</div>


<div *ngIf="batchView" class="form-container">
    <app-form-template
    [formTitle]="'Registrar Lote'"
    [formGroup]="form"
    [submitText]="'Salvar'"
    [cancelText]="'Cancelar'"
    (formSubmit)="onSubmit()"
>

    <!-- Campo para o Lote -->
    <app-input
        [control]="getControl('batch')"
        type="text"
        label="Lote"
        placeholder="Digite o lote do produto"
    ></app-input>

    <!-- Campo para a Quantidade -->
    <app-input
        [control]="getControl('quantity')"
        type="number"
        label="Quantidade"
        placeholder="Digite a quantidade"
    ></app-input>

    <!--Campo para o tipo de origem-->
    <app-input
        [control]="getControl('sourceType')"
        type="select"
        label="Tipo de Origem"
        [options]="sourceOptions"
        placeholder="Selecione o tipo de origem">
    </app-input>

    <!-- Campo para Detalhes da Origem -->
    <app-input
        [control]="getControl('sourceDetails')"
        type="text"
        label="Detalhes da Origem"
        placeholder="Ex: Nome do Fornecedor, Nota Fiscal"
    ></app-input>

    <!-- Campo para o Preço -->
    <app-input 
        [control]="getControl('price')"
        type="number"
        label="Preço"
        placeholder="Digite o preço"
    ></app-input>
    
    
</app-form-template>

</div>

<app-modal>
    <div class="modal-content">
        <p>{{ modalMessage }}</p>
    </div>
</app-modal>