<div class="empty-stationary">
  <!-- Empty Component para Tabelas -->
    <div class="empty-content">
        <!--<i class="fas fa-plus"></i>-->
        <fa-icon [icon]="icon" class="empty-icon" size="3x"></fa-icon>
        <p class="empty-message">{{ message }}</p>
    </div>
    
    <!-- Movido a Outro Componente
    <button *ngIf="showButton" (click)="onButtonClick()" class="empty-button">
        <p>{{ TheReturnButton }}</p>
    </button>
    -->
</div>
<!--<p>empty-component works!</p>-->

