<app-nav-bar></app-nav-bar>

<div class="dashboard-container">
  <div class="main-content">
    <h1 class="dashboard-title">Cozinha</h1>

    <div class="cards-container">
      <app-dashboard-cards
        [headerValue]="totalKitchenProducts ? totalKitchenProducts.toString() : 'N/A'"
        bodyText="Produtos na Cozinha"
        [icon]="faKitchenSet"
        background="#28a745"
        color="#fff"
        hoverBackground="#218838"
      ></app-dashboard-cards>

      <app-dashboard-cards
        [headerValue]="totalExpiringProducts ? totalExpiringProducts.toString() : 'N/A'"
        bodyText="Produtos perto do Vencimento"
        [icon]="faClock"
        background="#ff2222"
        color="#fff"
        hoverBackground="#ed0000"
      ></app-dashboard-cards>

      <app-dashboard-cards
        [headerValue]="totalPendingOrders ? totalPendingOrders.toString() : 'N/A'"
        bodyText="Pedidos Pendentes"
        [icon]="faSpinner"
        background="#ffc107"
        color="#333"
        hoverBackground="#e0a800"
      ></app-dashboard-cards>
    </div>

    <div class="tables-container">
      <app-p-table 
        title="Últimos Pedidos" 
        [data]="lastOrders" 
        [view]="false"
        (onSort)="handleOrderSort($event)">
      </app-p-table>

      <app-p-table 
        title="Produtos na Cozinha" 
        [data]="kitchenInventory" 
        [showSearch]="true">
      </app-p-table>
    </div>
  </div>

  <div class="dashboard-actions">
    <div class="list-container">
      <div class="list-actions">
        <div class="list-item" (click)="navigateTo('kitchen/request')">
          <span class="item-icon"><fa-icon id="fazer-pedido" [icon]="faCartPlus"></fa-icon></span>
          <span class="item-text">Pedidos</span>
        </div>
        <div class="list-item" (click)="navigateTo('kitchen/reports')">
          <span class="item-icon"><fa-icon id="gerar-relatorio" [icon]="faFileAlt"></fa-icon></span>
          <span class="item-text">Gerar Relatórios</span>
        </div>
        <div class="list-item" (click)="navigateTo('kitchen/pending')">
          <span class="item-icon"><fa-icon id="pedidos-pendentes" [icon]="faSpinner"></fa-icon></span>
          <span class="item-text">Pedidos Pendentes</span>
        </div>
      </div>
    </div>
  </div>
</div>