.The404-stationary {
  padding: 2rem;
  color: #666;

  .The404-icon {
    /*color:alpha($color: #ff1a1a);*/
    color: rgba(26, 120, 255, 0.9);
    margin-bottom: 1rem;
  }

  .The404-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  .The404-message {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;    
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: rgb(111, 111, 3);
  }

  .The404-button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .The404-button:hover {
    background-color: #0056b3;
  }
}
