<app-view-template 
  title="Movimentações" 
  createText="Nova Movimentação" 
  (createNewEvent)="router.navigate(['manage/movements/scan'])"
  [isPagedView]="pagedView" 
  [pageNumber]="pageNumber" 
  [totalPages]="totalPages" 
  (pageChangeEvent)="onPageChange($event)">

  <app-p-table
    [showSearch]="false"
    (onEdit)="EditMovement($event.id)"
    (onSort)="handleSort($event)"
    [data]="movements"
    [delete]="false"
    [edit]="true"
    [view]="false"
  ></app-p-table>

</app-view-template>