p {
    font-weight: bold;
    color: rgb(237, 249, 74);
    font-size: 2.2rem;
    text-align: center;
}
table {
    width: 88%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-family: Arial, sans-serif;
    justify-content: center;
    text-align:center;
    margin-top: 20px;
}
 
th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #d6d6d6;
}
 
th {
    background-color: #e6e6e6;
    font-weight: bold;
}
 
tr:hover {
    background-color: #d9d9d9;
}
 
button {
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.table-icon{
    font-size: 14pt;
}
 
.edit-btn {
    background-color: #40c5d6;
    color: white;
}
 
.delete-btn {
    background-color: #de6767;
    color: white;
}
.view-btn {
    background-color: #241e7e;
    color: white;
}
 
.edit-btn:hover {
    background-color: #2697a6;
}
 
.delete-btn:hover {
    background-color: #da4f4d;
}
.view:hover{
    cursor: pointer;

}
